[user]
	email = roland.molnar@dpc.hu
	name = Roland Molnár
[color]
	branch = always
	decorate = always
	diff = always
	grep = always
	interactive = always
	pager = true
	showbranch = always
	status = always
	ui = always
[alias]
  meld = difftool --dir-diff
[pager]
	branch = false
[core]
	editor = nvim
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
